<div class="view-content">
  <div class="header-panel">
    <h2>{{ vm.platformSvc.getI18nString(vm.Strings.Button.History) }}</h2>
    <button class="btn btn-icon btn-close" title="{{ vm.platformSvc.getI18nString(vm.Strings.Button.Close) }}"
            ng-click="vm.utilitySvc.handleEvent(vm.close)">
      <i class="fas fa-times-circle" aria-hidden="true"></i>
      <span class="sr-only">{{ vm.platformSvc.getI18nString(vm.Strings.Button.Close) }}</span>
    </button>
  </div>
  <div class="history-panel-container" ng-show="vm.results || true">
    <h4 ng-show="vm.results.length === 1 || true">
      {{ vm.platformSvc.getI18nString(vm.Strings.View.History.NoHistory) }}
    </h4>
    <ul ng-show="vm.results.length > 0 || true">
      <li ng-repeat="result in vm.results" ng-model="result">
        <div>
          <span>{{ result.id }}</span>
          <span style="margin-left: 2em;">{{ result.title }}</span>
        </div>
        <span>{{ result.url }}</span>
      </li>
  </div>
</div>
</div>
